# Terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Provider lock file (optional to ignore)
.terraform.lock.hcl
